<div class="card mb-4">
    <div class="card-img-wrapper">
        <img src="{{medic.photoUrl || './assets/medic_icon.png'}}" 
                alt="{{medic.apellido}} {{medic.nombre}}">
        <ul class="medic-icons list-inline text-center">
            <li class="list-inline-item"><button routerLink="/Medicos/{{medic.legajo}}" class="btn btn-primary">
                <i class="fa fa-user"></i>
            </button></li>
            <li class="list-inline-item"><button class="btn btn-primary">
                <i class="fa fa-heart"></i>
            </button></li>
            <li class="list-inline-item"><button class="btn btn-primary">
                <i class="fa fa-envelope"></i>
            </button></li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1"><i class="fa fa-user mr-2"></i>
            {{medic.apellido}} {{medic.nombre}}
        </h6>
        <p class="card-text text-muted text-center">Legajo: {{medic.legajo}}</p>
    </div>
</div>