
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">AsclepioN</a>

        <ul class="navbar-nav me-auto mb-2 mb-md-0" >
            <ng-container *ngIf="authService.currentUser$ | async">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Centros" routerLinkActive="active">Centros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Medicos" routerLinkActive="active">Medicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Calendario" routerLinkActive="active">Calendario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Turnos" routerLinkActive="active">Turnos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Usuarios" routerLinkActive="active">Usuarios</a>
                </li>
            </ng-container>          
        </ul>
        <div class="dropdown" *ngIf="(authService.currentUser$ | async) as user" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>Bienvenido {{user.nombreUsuario | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu="">
                <a class="dropdown-item">Perfil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">Salir</a>
            </div>
        </div>

        <form *ngIf="!(authService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" role="search" (ngSubmit)="login()" autocomplete="off">
            <input 
                name="username"
                [(ngModel)]="model.nombreUsuario"
                class="form-control me-2" 
                type="text" 
                placeholder="Usuario">
            <input 
                name="password"
                [(ngModel)]="model.password"
                class="form-control me-2" 
                type="password" 
                placeholder="Contraseña">
            <button class="btn btn-success" type="submit">Ingresar</button>
        </form>
    </div>
</nav>